<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paperless-TBS</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />


</head>
<body>

<!--Page-Top-->   
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Paperless TBS</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Stay updated on your latest exams schedule</p>
                    <a class="btn btn-primary btn-xl" href="https://tunis-business-school.tn/">TBS website</a>
                </div>
            </div>
        </div>
    </header>

<!--Schedule-->    
<div class="container">
    <div class="row">
        <section id="sectionJobList" class="section section-job-list">
            <div class="container">
                <div class="row row-grid justify-content-center">
                    <div class="col-md-8 col-lg-7 col-xl-6 text-center">
                        <h2 class="section__title my-5">exams schedule</h2>
                    </div>
                    <div class="col-md-12">
                        <form class="filter-form mb-5">
                            <div class="row">
                                <input class="form-control" onKeyUp="myFunction()" id="myInput" type="text" placeholder="Search.."/>
                            </div>
                        </form>  
                    </div>
                </div>
            </div>


            <!--exam-->


            <div class="card p-0 mb-8 border-0 shadow-md cardShaodw mb-3">
                <div class="card-body">
                    <span class='row '>
                        <span class="col-1 color--heading d-lg-inline d-none">
                            <span class="badge badge-circle background--danger text-white mx-3 my-2">IT</span> 
                        </span>
                <span class="col-11">
                    <span class="row my-1 justify-content-between align-items-center">
                        <span class="col-7 col-md-7 my-3 px-0 my-sm-0 col-sm-7 color--text text-left">
                            <i class="fas fa-book mx-1"></i>IT400:Project Management IT</span>
                                                
                            <span class="col-2 col-md-2 my-3 px-0 my-sm-0 color--heading text-left d-lg-none d-md-flex">
                                    <span class="badge background--danger text-white mx-3 my-2">IT</span> 
                            </span>

                            <span class="col-5 col-md-5 my-3 px-0 my-sm-0 col-sm-5 color--text text-left">
                                <i class="fas fa-user mx-1"></i>O. Abdelkhalek</span>
                            </span>

                            <span class='row my-1'>

                                <span class="col-3 col-md-3 my-3 px-0 my-sm-0 col-sm-3 color--text text-left">
                                    <i class="fas fa-users mx-1"></i> Senior
                                </span>

                                <span class="col-3 col-md-3 my-3 px-0 my-sm-0 col-sm-3 color--text text-left">
                                    <i class="fas fa-calendar mx-1"></i> 1/12/2023
                                </span>

                                <span class="col-4 col-md-4 my-3 px-0 my-sm-0 col-sm-4 color--text text-left">
                                    <i class="fas fa-clock mx-1"></i> 9:00AM - 11:00AM
                                </span>

                                <span class="col-2 col-md-2 my-3 px-0 my-sm-0 col-sm-2 color--text text-left">
                                    <i class="fas fa-map-marker-alt mx-1"></i> Lab5 + Lab6
                                </span>
                                                 
                            </span>
                        </span>
                    </span>   
                </div>
            </div>

            <div class="card p-0 mb-8 border-0 shadow-md cardShaodw mb-3">
                <div class="card-body">
                    <span class='row '>
                        <span class="col-1 color--heading d-lg-inline d-none">
                            <span class="badge badge-circle background--primary text-white mx-3 my-2">BA</span> 
                        </span>
                <span class="col-11">
                    <span class="row my-1 justify-content-between align-items-center">
                        <span class="col-7 col-md-7 my-3 px-0 my-sm-0 col-sm-7 color--text text-left">
                            <i class="fas fa-book mx-1"></i>BA400:Project Management BA</span>
                                                
                            <span class="col-2 col-md-2 my-3 px-0 my-sm-0 color--heading text-left d-lg-none d-md-flex">
                                    <span class="badge background--danger text-white mx-3 my-2">IT</span> 
                            </span>

                            <span class="col-5 col-md-5 my-3 px-0 my-sm-0 col-sm-5 color--text text-left">
                                <i class="fas fa-user mx-1"></i>H. Yahmadi</span>
                            </span>

                            <span class='row my-1'>

                                <span class="col-3 col-md-3 my-3 px-0 my-sm-0 col-sm-3 color--text text-left">
                                    <i class="fas fa-users mx-1"></i> Senior
                                </span>

                                <span class="col-3 col-md-3 my-3 px-0 my-sm-0 col-sm-3 color--text text-left">
                                    <i class="fas fa-calendar mx-1"></i> 1/12/2023
                                </span>

                                <span class="col-4 col-md-4 my-3 px-0 my-sm-0 col-sm-4 color--text text-left">
                                    <i class="fas fa-clock mx-1"></i> 9:00AM - 11:00AM
                                </span>

                                <span class="col-2 col-md-2 my-3 px-0 my-sm-0 col-sm-2 color--text text-left">
                                    <i class="fas fa-map-marker-alt mx-1"></i> RR3 + RR4
                                </span>
                                                 
                            </span>
                        </span>
                    </span>   
                </div>
            </div>

            <div class="card p-0 mb-8 border-0 shadow-md cardShaodw mb-3">
                <div class="card-body">
                    <span class='row '>
                        <span class="col-1 color--heading d-lg-inline d-none">
                            <span class="badge badge-circle background--danger text-white mx-3 my-2">IT</span> 
                        </span>
                <span class="col-11">
                    <span class="row my-1 justify-content-between align-items-center">
                        <span class="col-7 col-md-7 my-3 px-0 my-sm-0 col-sm-7 color--text text-left">
                            <i class="fas fa-book mx-1"></i>IT350:System Administration (Linux)</span>
                                                
                            <span class="col-2 col-md-2 my-3 px-0 my-sm-0 color--heading text-left d-lg-none d-md-flex">
                                    <span class="badge background--danger text-white mx-3 my-2">IT</span> 
                            </span>

                            <span class="col-5 col-md-5 my-3 px-0 my-sm-0 col-sm-5 color--text text-left">
                                <i class="fas fa-user mx-1"></i>M. Thaalbi & M. Abdelkader</span>
                            </span>

                            <span class='row my-1'>

                                <span class="col-3 col-md-3 my-3 px-0 my-sm-0 col-sm-3 color--text text-left">
                                    <i class="fas fa-users mx-1"></i> Junior
                                </span>

                                <span class="col-3 col-md-3 my-3 px-0 my-sm-0 col-sm-3 color--text text-left">
                                    <i class="fas fa-calendar mx-1"></i> 1/12/2023
                                </span>

                                <span class="col-4 col-md-4 my-3 px-0 my-sm-0 col-sm-4 color--text text-left">
                                    <i class="fas fa-clock mx-1"></i> 11:30AM - 13:30AM
                                </span>

                                <span class="col-2 col-md-2 my-3 px-0 my-sm-0 col-sm-2 color--text text-left">
                                    <i class="fas fa-map-marker-alt mx-1"></i> RR3 + RR4
                                </span>
                                                 
                            </span>
                        </span>
                    </span>   
                </div>
            </div>

            <div class="p-3"></div>




    </div>
</div>

<!--Footer-->
    <footer class="text-center text-white text-lg-start bg-dark text-muted">
        <section class="d-flex justify-content-center justify-content-lg-center p-4 border-bottom">
            <div>
                <a href="" class="me-4 link-light">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 link-light">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 link-light">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </section>

        <section class="">
            <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            
                <p class='text-light'>
                    TBS provides students with the knowledge and skills needed to build a successful career, enhance intellectual growth, enrich lives, and to become effective leaders and managers in the global environment.
                </p>
                </div>

                <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-4"></div>

                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">

                <h6 class="text-uppercase fw-bold mb-4 text-white">Contact</h6>
                <p class='text-light'><i class="fas fa-home me-3"></i>Tunis Business School, Bir El Kasâa, El Mourouj,

                    2074 Ben Arous Tunisia</p>
                <p class='text-light'><i class="fas fa-envelope me-3 "></i>Contact@tunis-business-school.tn</p>
                <p class='text-light'><i class="fas fa-phone me-3 "></i>(+216) 79 409 409</p>
                <p class='text-light'><i class="fas fa-print me-3"></i> (+216) 79 409 400</p>
                </div>
            </div>
            </div>
        </section>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.25)">
            <a class="text-light fw-bold" href="">Tunis Business School</a>
        </div>
    </footer>
</body>
</html>